// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logo-class {
  font-size: 52px;
  line-height: 2px;
  letter-spacing: 10px;
  margin-bottom: 60px;
  margin-top: 30px;
  text-decoration: underline;
}
